# fichiers intermédiaires de compilation
obj/

# exécutables de test (régénérés par make)
test_pile
test_expression
test_conversion

# fichiers auxiliaires LaTeX
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
